### Lists

In [74]:
### List ->  List are ordered, Mutable collections of items, it can contains different data types

lst = []   ### square bracket is for list -> [] 
print(type(lst))
lst1 = list()
print(type(lst1))

<class 'list'>
<class 'list'>

In [26]:
names = ["Santhosh","Gayathri","Satheesh","Chandra"]
print(names)

['Santhosh', 'Gayathri', 'Satheesh', 'Chandra']

In [27]:
mixed_lst = [1,"Hello",True,100.90,names]  # List can store another list
print(mixed_lst)

[1, 'Hello', True, 100.9, ['Santhosh', 'Gayathri', 'Satheesh', 'Chandra']]

In [28]:
### Accessing List elements

mixed_lst[1]   # Index elements are starts from 0
mixed_lst[-1]  # Negative Indexing is also possible

['Santhosh', 'Gayathri', 'Satheesh', 'Chandra']

In [29]:
## List Slicing 
mixed_lst[0:3]   ## [0:3] it acts like a range function starts from 0 and ends at n-1

[1, 'Hello', True]

In [30]:
mixed_lst[-1][0]  # Accessing the inner elements

'Santhosh'

In [31]:
mixed_lst[::-1]  # Reverse the List

[['Santhosh', 'Gayathri', 'Satheesh', 'Chandra'], 100.9, True, 'Hello', 1]

In [32]:
## Modifying the List elements

mixed_lst[-1] = 10   # The Last index placed list is replaced by 10
mixed_lst

[1, 'Hello', True, 100.9, 10]

In [33]:
mixed_lst[0] = names
mixed_lst

[['Santhosh', 'Gayathri', 'Satheesh', 'Chandra'], 'Hello', True, 100.9, 10]

In [34]:
### List Methods

fruits = ["apple","bannana","Straberry"]
fruits.append("orange") # It adds the element at the end
fruits

['apple', 'bannana', 'Straberry', 'orange']

In [35]:
fruits.insert(1,"watermelon")  # Insert the element at the paticular index
fruits

['apple', 'watermelon', 'bannana', 'Straberry', 'orange']

In [36]:
fruits.remove("Straberry")  # Remove the first occurance of the element
fruits

['apple', 'watermelon', 'bannana', 'orange']

In [37]:
## Remove and return the last item
popped_fruit = fruits.pop()
popped_fruit

'orange'

In [39]:
fruits.index("bannana")  # Get the index element of the banana

2

In [41]:
fruits.insert(2,"cherry")
fruits.count("bannana")   # count the frequency of the bannana

1

In [42]:
fruits.index("bannana")  # Get the index element of the banana

3

In [43]:
fruits.sort()  # Sort is the list in an ascending order
fruits

['apple', 'bannana', 'cherry', 'watermelon']

In [46]:
fruits.reverse()   # Reverse the List
fruits

['watermelon', 'cherry', 'bannana', 'apple']

In [47]:
fruits.clear()  ## Remove all items from the list

In [48]:
fruits

[]

In [49]:
### Slicing List

num =[1,2,3,4,5,6,7,8,9,10]

num[2:5]   # start at the index 2 and ends at 4

[3, 4, 5]

In [50]:
num[:5]  ## starts at 0 and ends at 4

[1, 2, 3, 4, 5]

In [53]:
num[5:] ## starts at 5 and ends at last

[6, 7, 8, 9, 10]

In [52]:
num[::2]  ## start 0 , ends at last, step size is 2 (:: means all the elements)

[1, 3, 5, 7, 9]

In [54]:
num[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [75]:
lst = [1,2,3]
lst_mul = lst *3
lst_mul

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [55]:
## Iterating over List

for i in num:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [57]:
## Iterating with index

for index,i in enumerate(num):   ## enumerate is used to get the index 
    print(index,i)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [60]:
### List Comprehension 

lst = []
for i in range(0,10):
    lst.append(i**2)
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [61]:
lst1 = [i**2 for i in range(10)]  ## with the help of list comprehension it uses one line

In [62]:
lst1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### List Comprehension

Basic Syntax                [expression for item in iterable]

with conditional Logic      [expression for item in iterable if condition]

Nested List Comprehension   [expression for item1 in iterable for item2 in iterable]

In [68]:
## With conditional Logic for printing the odd number
odd_num = [i for i in range(0,15) if i%2!=0]

In [69]:
odd_num

[1, 3, 5, 7, 9, 11, 13]

In [71]:
### Nested List Comprehension

lst1 = [1,2,3,4] 
lst2 = ['a','b','c','d']

pair = [[i,j] for i in lst1 for j in lst2]
pair

[[1, 'a'],
 [1, 'b'],
 [1, 'c'],
 [1, 'd'],
 [2, 'a'],
 [2, 'b'],
 [2, 'c'],
 [2, 'd'],
 [3, 'a'],
 [3, 'b'],
 [3, 'c'],
 [3, 'd'],
 [4, 'a'],
 [4, 'b'],
 [4, 'c'],
 [4, 'd']]

In [73]:
### List comprehension with function calls
names = ["Santhosh","Gayathri","Satheesh","Chandra"]
lenght = [len(i) for i in names]
lenght

[8, 8, 8, 7]