### Tuple 
### It is an ordered collections of items that are immutable, they are similar to list but their immutability makes them difference

In [3]:
### Creating a Tuple
tup = ()
print(tup)
print(type(tup))
tup1 = tuple()
print(type(tup1))

()
<class 'tuple'>
<class 'tuple'>

In [4]:
num = tuple([1,2,3,4,5,6])  ## list is converted into tuple
num

(1, 2, 3, 4, 5, 6)

In [5]:
list((1,2,3,4,5,6))  ## tuple is converted into list

[1, 2, 3, 4, 5, 6]

In [6]:
mixed_tuple = (1,2.2,'Santhosh',True,(1,2,3),[4,5,6])
mixed_tuple

(1, 2.2, 'Santhosh', True, (1, 2, 3), [4, 5, 6])

In [7]:
### Accessing Tuple elements  -> Like List only
mixed_tuple[1]

2.2

In [8]:
mixed_tuple[-1]

[4, 5, 6]

In [9]:
mixed_tuple[-1][0]

4

In [11]:
mixed_tuple[-2]

(1, 2, 3)

In [12]:
mixed_tuple[-2][-1]

3

In [13]:
mixed_tuple[0:4]

(1, 2.2, 'Santhosh', True)

In [14]:
mixed_tuple[::-1]

([4, 5, 6], (1, 2, 3), True, 'Santhosh', 2.2, 1)

In [17]:
### Tuple Operation

num1 = (1,2,3)
num2 =(4,5,6)

res = num1+num2   # Tuple Concatination
res

(1, 2, 3, 4, 5, 6)

In [18]:
mul = num1 * 3   # Entire tuple is appended "3" times
mul

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [24]:
### Immutable Nature of Tuple
num1[0] = 4   ## This is because tuples are immutable, Once created it won't be changed

TypeError: 'tuple' object does not support item assignment

### Tuple Methods

In [27]:
number = (1,2,3,1,2,5,1,6)

In [28]:
number.count(1)   # Number 1 is present 3 times

3

In [29]:
number.index(3)  # It returns the first index  where the number 3 is present

2

### Packing and Unpacking Tuple

In [31]:
# Packing Tuple
packed_tuple = 1,"Sandy",3.14
print(packed_tuple)
print(type(packed_tuple))

(1, 'Sandy', 3.14)
<class 'tuple'>

In [34]:
# Unpacking Tuple
a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
Sandy
3.14

In [35]:
# Unpacking Tuple with *

numbers = (1,2,3,4,5,6)

first,*middle,last = numbers    ### * takes the all elements till the last element
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

### Nested Tuples

In [40]:
tup3 = (1,2,3,(4,5,6,(7,8,9,10,11)))
tup3

(1, 2, 3, (4, 5, 6, (7, 8, 9, 10, 11)))

In [45]:
tup3[3][3][1:4]

(8, 9, 10)

In [48]:
for i in tup3:
    print(i)

1
2
3
(4, 5, 6, (7, 8, 9, 10, 11))