### Sets

### It is a built-in datatype used to store unique collection, It is unordered, not allow duplicates.
### It is useful for membership tests, eliminating duplictes and mathematical operations like Union,Intersection, difference and symmertic difference

In [14]:
## Creating a set

my_set = {1,2,3,2,1}
my_set   # It print only 1,2,3 removes the duplicates 2 and 1

{1, 2, 3}

In [15]:
my_set1 = set()
print(type(my_set1))

<class 'set'>

In [16]:
mixed_set = {1,2.1,True,[1,2,3],(1,2,3)}   # List and Tuple is not used inside the set, Because List,Tuple is ordered set is unordered
mixed_set

TypeError: unhashable type: 'list'

In [17]:
mixed_set1 = {1,2.1,True,"sandy"}   # Boolean is not working in set
mixed_set1

{1, 2.1, 'sandy'}

In [18]:
## Basic set Operations
my_set = {1,2,3}
my_set.add(4)
my_set

{1, 2, 3, 4}

In [19]:
## Removing the elements

my_set.remove(4)
my_set

{1, 2, 3}

In [20]:
my_set.remove(10)  ## It throws error because 10 is not in the set

KeyError: 10

In [21]:
my_set.discard(10)   # Using the discard method if the element is present it removes if not it doesn't throws error 
my_set

{1, 2, 3}

In [22]:
my_set.discard(1)   # 1 is present so it removed
my_set

{2, 3}

In [23]:
removed_ele = my_set.pop()   # remove random element and returns
removed_ele

2

In [24]:
my_set

{3}

In [27]:
### Clear all the element
my_set.clear()
my_set

set()

In [30]:
### Set Membership Test

my_set = {1,2,3,4,5}
print(3 in my_set)   # check 3 is present it return True otherwise False
print(10 in my_set)

True
False

In [31]:
### Mathematical Operation 

set1 = {1,2,3,4,5,6,7}
set2 = {4,5,6,7,8,9,0}

## set Union

set_union = set1.union(set2)   ## Combining Everything
set_union

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [32]:
### Set Intersection

set_intersection = set1.intersection(set2)   ## It gives the common elements
set_intersection

{4, 5, 6, 7}

In [35]:
set1.intersection_update(set2)    ## The set1 is changed to the common elements
print(f"set1 {set1}")

set1 {4, 5, 6, 7}
set2 {0, 4, 5, 6, 7, 8, 9}

In [36]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

set1.difference(set2)    ## Remove the common elements

{1, 2, 3}

In [39]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}
set1.difference_update(set2)
set1

{1, 2, 3}

In [40]:
## Symmetric Difference
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

set1.symmetric_difference(set2)  # Unique elements is the result

{1, 2, 3, 7, 8, 9}

In [41]:
### Sets Methods

set1 = {1,2,3}
set2 = {3,4,5}

## Is subset
print(set1.issubset(set2))   ## all the elements is the set1 is present in the set2

False

In [43]:
## Is superset
set1 = {1,2,3,4,5}
set2 = {3,4,5}
print(set1.issuperset(set2))    # set 2 elements is present or not in the set1

True

In [45]:
### counting unique words in text

txt = "In this tutorial we are discussing about the sets"

words = txt.split()  # split is splitted the spaced and returns as a list

print(f"List words :{words}")

### convert list of words to set to get unique words

unique_words = set(words)
print(unique_words)
print(len( unique_words))

List words :['In', 'this', 'tutorial', 'we', 'are', 'discussing', 'about', 'the', 'sets']
{'we', 'the', 'sets', 'tutorial', 'In', 'are', 'discussing', 'about', 'this'}
9