### Important of Data types
### Data types ensure that data is stored in an efficienty way.

In [1]:
### Integers
age = 35
type(age)

int

In [2]:
### Float

height = 6.1
type(height)

float

In [4]:
### string

name = "Santhosh Kumar M"
type(name)

str

In [7]:
### Boolean 
is_student = True
type(is_student)

bool

### Advanced Data Types

In [9]:
### List
lst = [1,2.3,'abc',True]
type(lst)

list

In [11]:
### tuple
tu = (1,2.2,'abc',True)
type(tu)

tuple

In [12]:
### set
st = {1,2.2,'abc',True}
type(st)

set

In [13]:
### Dictionary

dic = {1:1,2:2.2}
type(dic)

dict

In [17]:
### Common errors

result = "hello" + 5  # string and integer that are not concatenate

TypeError: can only concatenate str (not "int") to str

In [16]:
### Fixing the error
result = "hello"+str(5) # changing the type of integer into string by using typecasting
result

'hello5'

In [21]:
result.count('l')   ## String Functions

2