### Map function

The map function applies a given function to all items in an input list (or any other iterable) and returns a map object. This is particulart useful for transforming data in a list comprehensively

In [1]:
# Normal method

def square(number):
    return number * number

In [2]:
square(4)

16

In [5]:
# I have a list of numbers, I want to apply the same operation for each and every number

lst_num = [1,2,3,4,5,6,7,8,9]

In [3]:
# 1st normal method

def square_lst(arr):
    lst1 = []
    for i in arr:
        lst1.append(i*i)
    return lst1

In [6]:
square_lst(lst_num)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
## with the Help of map we can solve to write the so much of things

## map(function,iterable)  # iterable -> collection

list(map(square,lst_num))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
## Lambda function with map
list(map(lambda x:x*x,lst_num))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [12]:
## Map multiple iterables

num1 = [1,2,3]
num2 = [4,5,6]

added_number = list(map(lambda x,y:x+y,num1,num2))

In [13]:
added_number

[5, 7, 9]

In [16]:
## map convert a list of string to integers

lst_string = ["1","2","3","4","6","5","7","8","9","0"]

lst_num = list(map(lambda x: int(x),lst_string))   # This is 1 method

In [19]:
lst_string

['1', '2', '3', '4', '6', '5', '7', '8', '9', '0']

In [20]:
lst_num

[1, 2, 3, 4, 6, 5, 7, 8, 9, 0]

In [21]:
lst_num1 = list(map(int,lst_string))

In [22]:
lst_num1

[1, 2, 3, 4, 6, 5, 7, 8, 9, 0]

In [24]:
# Inbuilt function with map

words = ['apple','banana','cherry']

upper_words = list(map(str.upper,words))

upper_words

['APPLE', 'BANANA', 'CHERRY']

In [26]:
def get_name(person):
    return person['name']

def get_age(person):
    return person['age']


people = [
    {'name': "Sandy","age":21},
    {'name': "Gayathri","age":21},
    {'name': "chandra","age":21},
    {'name': "Satheesh","age":21}
]

list(map(get_name,people))

['Sandy', 'Gayathri', 'chandra', 'Satheesh']

In [27]:
list(map(get_age,people))

[21, 21, 21, 21]